<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studentArray | filter: typeValue">
        <ng-container>
            <td>{{item.name}}</td>
            <td >{{item.age}}</td>
            <td [ngClass]="{'text-success': item.age > 20}">{{item.Subject}}</td>
        </ng-container>
        
      </tr>
      
    </tbody>
  </table>

  <div class="container">
      <div class="row">
          <div class="col-md-4">
            <button (click)="changeToLarge()" type="button" class="btn btn-success">Larggggg</button>
          </div>
          <div class="col-md-4">
            <button (click)="changeToSmall()" type="button" class="btn btn-danger">Smallllll</button>
          </div>
      </div>
  </div>

  <h1 [ngStyle]="{'font-size.px':fontCheck == true ? 20 :  250}"> HHHHHH</h1>


  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">{{typeValue}}</span>
    </div>
    <input  type="text" class="form-control" [(ngModel)]="typeValue" >

    <!-- <input type="text" class="form-control" (keypress)="valueChange($event)"> -->

    <label for=""> Parent Value : {{muValue}}</label>
  </div>