<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">TeamBitCode</a>
    <h2>{{_dataService.userName}}</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active" routerLink="table" >
                <a class="nav-link" >Table </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="cart">
                <a class="nav-link">Cart</a>
            </li>
            <!-- <li class="nav-item">
          <a class="nav-link" >Pricing</a>
        </li> -->
        </ul>
    </div>
</nav>
 <h1> {{ _dataService.calculate(42,10) }}</h1>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
            <!-- <app-table></app-table> -->
            <!-- <app-cart></app-cart> -->
        </div>
    </div>
</div>