<div class="card mb-4">
    <div class="card-body">
     
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Name</label>
                <input [(ngModel)]="productName" [ngModelOptions]="{standalone: true}"   type="text" class="form-control" id="inputEmail4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Description</label>
                <input [(ngModel)]="productDescription" [ngModelOptions]="{standalone: true}"   type="text" class="form-control" id="inputPassword4">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress">Price</label>
              <input [(ngModel)]="productPrice" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="inputAddress" >
            </div> 

            <div class="form-group col-md-6">
                <button class="btn btn-primary" *ngIf="isCreateProductFrom==true" (click)="createProduct()">Add Product</button>

                <button class="btn btn-primary" (click)="updateProduct()" *ngIf="isCreateProductFrom==false" >Save Product</button>
                &nbsp;
                <button type="button" class="btn btn-secondary"  *ngIf="isCreateProductFrom==false" (click)="reset()">Cancel</button>    

            </div>
            
          </form>
    </div>
  </div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsArray">
        <th scope="row">{{product.name}}</th>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>
            <button type="button" class="btn btn-danger mr-1" (click)="deleteProduct(product._id)">Delete</button>
            <button type="button" class="btn btn-warning" (click)="setProductToFrom(product)">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
