<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1> {{ _dataService.calculate(42,10) }}</h1>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                      
                        <button (click)="navigateToLanding()" type="submit" class="btn btn-primary">Submit</button>
                     </form>
                </div>
              </div>

            
        </div>
    </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" [ngClass]="{'active': isLogin === true}"  (click)="changeTab(true)">Login</a>
        <a class="nav-item nav-link" [ngClass]="{'active': isLogin === false}" (click)="changeTab(false)" >Register</a>
      </nav>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body"  *ngIf="isLogin === true">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input [(ngModel)]="userPassword" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          
            <button (click)="login()" type="submit" class="btn btn-primary">Login</button>
         </form>
    </div>
    
    <div class="card-body" *ngIf="isLogin === false">

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input [(ngModel)]="userPassword" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>


        <div class="form-group">
          <label for="firstName">First Name</label>
          <input [(ngModel)]="userFirstName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="firstName" placeholder="Enter you first name">
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input [(ngModel)]="userLastName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="lastName" placeholder="Enter you last name">
        </div>
      
        <button (click)="createUser()" type="submit" class="btn btn-primary">Register</button>
     </form>
    </div>

  </div>
</div>

