<p>cart works! ********************************</p>

<!-- <h1>{{ setName(200) }} </h1> -->


<!-- <h1>{{ 200 | myCurrency  }} </h1> -->


<!-- <h1>{{ 'teambitcode' | uppercase }} </h1> -->

<app-card [message]="newMessage"></app-card>

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Type value</span>
    </div>
    <input type="text"  class="form-control" (keypress)="valueChange($event)">
  </div>