
<!-- <div class="container">
<div class="row">
  <div class="col-md-6">
    <app-table [muValue]="'CCCCCCCCFFFGG'"  (tableOutputEvent)="myEvent($event)" ></app-table>
  </div>
  
  <div class="col-md-6">
  </div>

</div>
</div> -->

<router-outlet></router-outlet>